<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>navi</name>
    <displayName><![CDATA[Navi]]></displayName>
    <version><![CDATA[1.6.0]]></version>
    <description><![CDATA[Hub d'engagement flottant : consentement cookies (Google Consent Mode v2), accessibilité (taille du texte, contraste, curseur), ajout au panier sticky, bulles vidéo "stories" sur les fiches produit et mini-panier automatique, pilotés depuis un bouton unique. Couleurs et arrondis personnalisables.]]></description>
    <author><![CDATA[Troteseil Lucas]]></author>
    <tab><![CDATA[front_office_features]]></tab>
    <confirmUninstall><![CDATA[Supprimer ce module désactivera le bouton flottant, tous ses modules, et supprimera les stories enregistrées (vidéos incluses).]]></confirmUninstall>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
    <limited_countries></limited_countries>
</module>
